<nav>
	<div class="nav-wrapper black">
		<a href="#" class="brand-logo">Logo</a>
		<ul id="nav-mobile" class="right">

		</ul>
	</div>
</nav>
<div class="container">
	<div class="card">
		<div class="card-content">
			<div class="row">
				<div class="col s12">
					<p class="flow-text">Main switch: {{mainstatus}}</p>
					<a href="" ng-click="mainswitch(mainactionstr)" class="btn blue hoverable">Switch {{mainactionstr}} main switch</a>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<p class="flow-text">Light 1: {{switchonestatus}}</p>
					<a href="" ng-click="switch(2, s1actionstr)" class="btn blue hoverable">Switch {{s1actionstr}} light 1</a>
				</div>
				<div class="col s6">
					<p class="flow-text">Light 2: {{switchtwostatus}}</p>
					<a href="" ng-click="switch(3, s2actionstr)" class="btn blue hoverable">Switch {{s2actionstr}} light 2</a>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<p class="flow-text">Light 3: {{switchthreestatus}}</p>
					<a href="" ng-click="switch(4, s3actionstr)" class="btn blue hoverable">Switch {{s3actionstr}} light 3</a>
				</div>
				<div class="col s6">
					<p class="flow-text">Light 4: {{switchfourstatus}}</p>
					<a href="" ng-click="switch(5, s4actionstr)" class="btn blue hoverable">Switch {{s4actionstr}} light 4</a>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<p class="flow-text">Motor: {{motorstatus}}</p>
					<a href="" ng-click="switchmotor(motoractionstr)" class="btn blue hoverable">Switch {{motoractionstr}} motor</a>
				</div>
			</div>
		</div>
	</div>
</div>
